body {

    float: center;

}

        div {
            /* color:; */
            /* background-color:; */
          
        }
        
        #overordnet {
            width: 800px;
            height: 800px;
            

            padding: 1px;
            margin: auto;
            margin-top: 0px;
            
        

        }
        
    #grid1 {
        width: 800px;
        height: 800px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        position: fixed;
        z-index: 1;

    }

    #grid2 {
        width: 800px;
        height: 800px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        position: fixed;
        z-index: 0;

    }

    .ruter {
            height: 200px;
            width: 200px;
            font-size: 0.1px;
            
        }

        body {
            background-color: #000;

        }
        .button {
            position: absolute;
            top: 50%;
            left: 9%;
            display: inline-block;
            border-radius: 5px;
            background-color: purple;
            border: 2px solid #999;
            color: #FFFFFF;
            text-align: center;
            font-family: Impact;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: auto;
            margin-top: 20px;
            top: 100px;
            clear: right;
          }
          
          .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
          }
          
          .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }
          
          .button:hover span {
            padding-right: 25px;
            color: #ba6f00;
            text-shadow: 0px 0px 10px #BA6F00;
          }
          
          .button:hover span:after {
            opacity: 1;
            right: 0;
            color: #ba6f00;
            text-shadow: 0px 0px 10px #BA6F00;
          }
        div.førstPåLinja {
            clear: left;
        }

        div.selected {
            border: dashed orange 5px;
        }
    /* #r1k1 {
        
    } */
    #r1k2 {
        background-image: url();
        background-position: center;
    }
    #r1k3 {
        background: url();
        background-position: center;
    }
    #r1k4 {
        background: url();
        background-position: center;
    }
    #r2k1 {
        background: url();
        background-position: center;
    }
    #r2k2 {
        background-image: url();
        background-position: center;
    }
    #r2k3 {
        background: url();
        background-position: center;
    }
    #r2k4 {
        background: url();
        background-position: center;
    }
    #r3k1 {
        background: url();
        background-position: center;
    }
    #r3k2 {
        background: url();
        background-position: center;
    }
    #r3k3 {
        background: url();
        background-position: center;
    }
    #r3k4 {
        background: url();
        background-position: center;
    }
    #r4k1 {
        background: url();
        background-position: center;
    }
    #r4k2 {
        background: url();
        background-position: center;
    }
    #r4k3 {
        background: url();
        background-position: center;
    }
    #r4k4 {
        background: url();
        background-position: center;
    }
    #box1 {
        background-image: url("https://i.imgur.com/zQeQFNy.jpg");
        width: 200px;
        height: 200px;
    }
    #box2 {
        background-image: url("https://i.imgur.com/6jQ8TpB.jpg");
        width: 200px;
        height: 200px;
    }
    #box3 {
        background-image: url("https://i.imgur.com/h6yWvIs.jpg");
        width: 200px;
        height: 200px;
    }
    #box4 {
        background-image: url("https://i.imgur.com/BH6wsBJ.jpg");
        width: 200px;
        height: 200px;
    }
    #box5 {
        background-image: url("https://i.imgur.com/CSkFndu.jpg");
        width: 200px;
        height: 200px;
    }
    #box6 {
        background-image: url("https://i.imgur.com/z8QgpQh.jpg");
        width: 200px;
        height: 200px;
    }
    #box7 {
        background-image: url("https://i.imgur.com/IGUGOBH.jpg");
        width: 200px;
        height: 200px;
    }
    #box8 {
        background-image: url("https://i.imgur.com/I7r59LH.jpg");
        width: 200px;
        height: 200px;
    }
    
    #box9 {
        background-image: url("https://i.imgur.com/9fbolNb.jpeg");
        width: 200px;
        height: 200px;
    }
    
    #box10 {
        background-image: url("https://i.imgur.com/mIVHfza.jpg");
        width: 200px;
        height: 200px;
    }

    #box11 {
        background-image: url("https://i.imgur.com/F0ddgNl.jpg");
        width: 200px;
        height: 200px;
    }
    
    #box12 {
        background-image: url("https://i.imgur.com/cx07wvl.jpg");
        width: 200px;
        height: 200px;
    }

    #box13 {
        background-image: url("https://i.imgur.com/mi79HIJ.jpg");
        width: 200px;
        height: 200px;
    }
    
    #box14 {
        background-image: url("https://i.imgur.com/5Xc0WHu.jpg");
        width: 200px;
        height: 200px;
    }

    #box15 {
        background-image: url("https://i.imgur.com/COhJ1QE.jpg");
        width: 200px;
        height: 200px;
    }
    
    #box16 {
        background-image: url("https://i.imgur.com/TSowcka.jpg");
        width: 200px;
        height: 200px;
    }